@import url('https://fonts.googleapis.com/css2?family=Luxurious+Roman&family=Poppins:wght@500&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    color: rgba(0, 0, 0, 0.75);
}

/* first part start */
.first-part{
    display: flex;
}
.logo{
    margin-bottom: 120px;
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 10px;
}
.first-desc{
    margin-left: 100px;
}
.first-title{
    font-size: 50px;
}
.top-txt{
    font-size: 18px;
}
.main-cam img{
    margin-top: 100px;
    margin-left: 150px;
    margin-right: 150px;
}
.btn-one{
    text-decoration: none;
    background-color: #E22E6D;
    color: white;
    padding: 10px 20px;
    font-size: 17px;
    border-radius: 25px;
    transition: 0.4s ease;
}

.btn-one:hover{
    background-color: black;
    color: white;
}
.brands{
    display: flex;
    justify-content: center;
    align-items: center;
}
.brand{
    margin-left:50px;
    margin-right:50px;
}
.brand img{
    width: 100px;
    height: 100px;
}
.hr-one{
    border-color: rgba(0, 0, 0, 0.1);
    margin-top: 150px;
}
.hr-two{
    border-color: rgba(0, 0, 0, 0.1);
}
/* first part end */




/* second part start */
.second{
    margin-top: 150px;
}
.products{
    width: 1200px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 40px;
    align-items: center;
    justify-content: center;
    margin-left: 21%;
    margin-bottom: 75px;   
}
.sp-title{
  font-size: 35px;
  margin-bottom: 70px;
  text-align: center;
  font-weight: 700;
}
.product-name{
    font-size: 23px;
    color: black;
}
.price{
    font-size: 20px;
    color: black;
    font-style: bold;
    margin-top: -15px;
}

.rating{
    color: #F28927;
    margin-top: -20px;
}
.product-desc{
    font-size: 12px;
    color:gray ;
    margin: none;
    margin-top: -13px;
}
.btn-two{
    text-decoration: none;
    color: #E22E6D;
    font-size: 17px;
    margin-left: 80%;
    transition: 0.4s ease;
}
.btn-two:hover{
    color: brown;
}
/* end of second part */




/* start of third part */